<div class="container">
    <div class="row">
        <h1>Liste des articles</h1>
        <div class="create">
            <a href="{{ path('article_new') }}">creer un article</a>
        </div>
        <ul>
            {% for article in articles %}
                <div class="col-md-12 articles">
                    <li>
                        <div class="tagsshow">
                            <a href="{{ path('article_show', {'id' : article.id}) }}"><h2>{{ article.title }}</h2></a><p>{{ article.createdAt|date('m/d/y H:i') }}</p>
                        </div>
                        <p>{{ article.content|truncate(150) }}</p>
                        <p>Tags: <a href="{{ path('article_list', {'tag' : article.tag}) }}">{{ article.tag }}</a></p>
                    </li>
                </div>
            {% endfor %}
        </ul>
    </div>
</div>
